
{% load static %}
<html lang="en">

    <head>
        <link rel="stylesheet" href="{% static 'css/style2.css' %}">
        <style>
                @import url('https://fonts.googleapis.com/css?family=Roboto');
                @import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Roboto+Mono');
                body, table, div, p {font-family: 'Roboto Mono', monospace;}
            </style> 
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel = "stylesheet" type= "text/css" href="style2.css"> 
            <title>Document</title>
    </head>

    <body>

    <div class ="thirdcontainer">
            <h1 id="second">About</h1>

            <p>안녕하세요, 이곳은 글자를 세주는 멋쟁이 사자처럼의 워드카운트 웹페이지 입니다 이곳에서 글자를 세세요<br><br></p>
            
            <a id="face-book" href="{%url 'home'%}">home으로 돌아가기</a>
    </div>

</body>
</html>



<!--
    <h1>About</h1>

<p>안녕하세요, 이곳은 글자를 세주는 멋쟁이 사자처럼의 워드카운트 웹페이지 입니다 이곳에서 글자를 세세요</p>

<a href="{%url 'home'%}">home으로 돌아가기</a>

-->

